{% extends 'main_nav.html' %}
{% load static %}
{% block head %}
<title>About Us</title>
<style>
    .st{
        background-color: rgba(105, 211, 134, 0.221);
        
    }
</style>
{% endblock %}
{% block main %}
<div class="container">
<div class="row mt-4 ">
    <div class="col-2"></div>
    <div class="col-6 st p-3">


    
        <h1>Welcome to Tiny Treasures Daycare</h1>
    <p>Established in 2020, Tiny Treasures Daycare, formerly known as Little Kingdom, was created out of a passion to provide children with a stimulating and enriching early childhood experience in kerala, India. We moved to India in 2011 and started our first preschool in Trivandrum Panavila. To meet the increasing need for a preschool in and around Kollam,we started our second center in Kollam in 2023.</p>

    <p>Tiny Treasures Daycare is your child’s home away from home in Trivandrum. We stay true to our mission and commitment to the children that are entrusted in our care by offering them high-quality education that incorporates art, music, and learning. We promote traditional values and provide a conducive environment for your child, with an emphasis on natural developmental opportunities.</p>

    <p>We understand the uniqueness of every child and utilize creative teaching methods to help the child reach their full potential. Our greatest strength lies in the exceptional quality of teaching staff, who are well-qualified, experienced, and have a deep understanding of the development stages of children.</p>

    <p>Our teachers work seamlessly as one team to ensure every learning moment for our children is joyful, meaningful, and geared consistently towards holistic child development. We instill a feeling of self-worth and self-confidence in each student while ensuring that he or she recognizes the needs of others.</p>

    
    


    </div>
    <div class="col-4"></div>
</div>
</div>
{% endblock %}