{% extends 'prntdes.html' %}
{% block head %}
<title>Book Appointment</title>
{% endblock %}
{% block gal %}
{% endblock %}
{% block main %}
<body>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="" method="POST" class="bg p-5 mt-5 text-light" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-borderless text-light">
                    <tr>
                        <td><label for="date">Date and Time</label></td> 
                        <td><input type="datetime-local" name="date" class="form-control" id=""></td>
                    </tr>
                    <tr>
                        <td><label for="schild">Select Child</label></td>
                        <td>
                            <select name="schild" id="" class="form-control">
                                <option value="" disabled selected>Select Child</option>
                                {% for i in data %}
                                <option value="{{ i.id }}">{{i.fname}} {{i.lname}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr><td colspan="2" class="text-center"><input type="submit" value="Book Appointment" class="btn btn-primary" name="" id=""></td></tr>
            
                </table>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</body>
{% endblock main %}