{% extends 'addes.html' %}
{% block head %}
<title>View Appointments</title>

{% endblock %}
{% block gal %}
{% endblock %}
{% block main %}
<body>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 p-4 mt-2" style="background-color: rgba(240, 248, 255, 0.663);">
            <h1>Caretakers</h1>
            <table class="table table-dark">
                <tr>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Qualification</td>
                    <td>Salary</td>
                    <td colspan="2" class="text-center">Action</td>
                </tr>
                {% for i in data %}
                <tr>
                    <td>{{ i.first_name }}</td>
                    <td>{{ i.last_name }}</td>
                    <td>{{ i.qualififcation}} years</td>
                    <td>{{ i.salary }}</td>
                    <td><a href="/credit/{{ i.id }}" class="btn btn-success">Edit</a></td>
                    <td><a href="/crdelete/{{ i.id }}" class="btn btn-danger">Reject</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-1 mt-5"></div>
    </div>
</body>
{% endblock main %}