{% extends 'addes.html' %}
{% block head %}
<title>admin edits</title>

{% endblock %}
{% block main %}
<div class="row">
<div class="col"></div>
<div class="col">
    <h1 class="text-center"><u><i><b>Edit Profile</b></i></u></h1>
    <form action="" method="POST" class="bg-dark p-5 mt-5 text-light" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-borderless text-light">
            <tr>
                <td><label for="ph_number">Phone Number</label></td> 
                <td><input type="text" name="ph_number" value="{{data.ph_number}}" id="" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="address">Address</label></td>
                <td><textarea name="address" id="" cols="30" rows="10" class="form-control">{{data.address}}</textarea></td>
            </tr>
            <tr>
                <td><label for="email">Email</label></td> 
                <td><input type="text" name="email" value="{{data.email}}" id="" class="form-control"></td>
            </tr>
            <tr><td colspan="2" class="text-center"><input type="submit" value="update" class="btn btn-primary" name="" id=""></td></tr>
    
        </table>
    </form>
</div>
<div class="col"></div>
</div>

{% endblock %}