{% extends 'addes.html' %}
{% block head %}
<title>View Appointments</title>

{% endblock %}
{% block gal %}
{% endblock %}
{% block main %}
<body>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 p-5 mt-2" style="background-color: rgba(240, 248, 255, 0.663);">
            <h1>Child Details</h1>
            <table class="table table-dark table-borderless table-stripped table-hover">
                <tr>
                    <td>First Name  :</td>
                    <td>{{ data.fname }}</td>
                    <td></td>

                </tr>
                <tr>
                    <td>Last Name  :</td>
                    <td>{{ data.lname }}</td>
                    <td></td>

                </tr>
                <tr>
                    <td>Age  :</td>
                    <td>{{ data.age }} years</td>
                    <td></td>

                </tr>
                <tr>
                    <td>Blood Group  :</td>
                    <td>{{ data.blood_group }}</td>
                    <td></td>

                </tr>
            </table>
        </div>
        <div class="col-1 mt-5"><a href="/adminviewappoint" class="btn btn-primary">Back</a></div>
    </div>
</body>
{% endblock main %}