{% extends 'addes.html' %}
{% block head %}
{% load static %}
<title>Recruitment</title>

{% endblock %}
{% block gal %}
{% endblock %}
{% block main %}
<body>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 p-4 mt-2" style="background-color: rgba(240, 248, 255, 0.663);">
            <h1>Recruit Caretaker</h1>
            <table class="table table-dark">
                <tr>
                    <td>fname</td>
                    <td>lname</td>
                    <td>age</td>
                    <td colspan="2">Allot Caretaker</td>

                </tr>
                {% for i in ch_data %}
                <tr>
                    <td>{{ i.fname }}</td>
                    <td>{{ i.lname }}</td>
                    <td>{{ i.age }}</td>
                        <form action="" method="post">
                            {% csrf_token %}
                                <td>
                                    <select name="alot" id="" class="form-control">
                                        {% for j in cr_data %}
                                        <option value="{{j.id}}">{{j.first_name}} {{j.last_name}}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="hidden" name="ch" value="{{i.id}}" id="">
                                </td>
                                <td>
                                    <input type="submit" value="Allot" class="btn btn-primary form-control">
                                </td>
                            
                        </form>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
{% endblock main %}