{% extends 'prntdes.html' %}
{% block head %}
<title>Edit Child</title>

{% endblock %}
{% block gal %}
{% endblock %}
{% block main %}
<body>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="" method="POST" class="bg p-5 mt-5 text-light" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-borderless text-light">
                    <tr>
                        <td><label for="age">Age</label></td> 
                        <td><input type="text" name="age" value="{{data.age}}" id="" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="mc">Medical Condition</label></td>
                        <td><textarea name="mc" id="" cols="30" rows="10" class="form-control">{{data.medical_condition}}</textarea></td>
                    </tr>
                    <tr><td colspan="2" class="text-center"><input type="submit" value="update" class="btn btn-primary" name="" id=""></td></tr>
            
                </table>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</body>
{% endblock main %}