{% extends 'prntdes.html' %}
{% block head %}
<title>Emergency Enquery</title>

{% endblock %}
{% block gal %}
{% endblock %}
{% block main %}
<body>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="" method="POST" class="bg p-5 mt-5 text-light" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-borderless text-light">
                    <tr>
                        <td><label for="ename" class="form-label">Name</label></td>
                        <td><input type="text" name="ename" placeholder="Enter Your Name" value="{{data.first_name}} {{data.last_name}}"  class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="email" class="form-label">Email</label></td>
                        <td><input type="email" name="email" placeholder="Enter Your Email" value="{{data.email}}"  class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="msg" class="form-label">Message</label></td>
                        <td><textarea name="msg" id="" cols="30" rows="10" placeholder="Enter your Query" class="form-control"></textarea></td>
            
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center"><input type="submit" value="Submit your Query" class="btn btn-primary"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</body>
{% endblock main %}



