{% extends 'main_nav.html' %}
{% load static %}
{% block head %}
<title>Home</title>
<style></style>
{% endblock %}

{% block main1 %}
<body style="background-image: url({% static 'images/learn.gif' %}


);background-size:cover;background-repeat:no-repeat">

{% endblock %}
{% block main %}

{% comment %} <div class="row">
  <div class="col h-75"><img src="" class="d-block w-100 h-75" alt=""></div>
</div>
<div class="row m-2">
  <div class="col-3"></div>
  <div class="col-6">
    <img src="{% static 'images/Tiny.gif' %}" class="d-block w-100" alt="" style="border-radius: 10px;">
  </div>
  <div class="col-3"></div> {% endcomment %}
</div>



{% endblock %}